body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("https://wallpaper-house.com/data/out/6/wallpaper2you_100823.jpg")
  }
  
  .container {
    opacity: 0.95;
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    position: relative;
    text-align:center;
    font-family: Helvetica
  }

  .leftpane {
    width: 25%;
    height: 100%;
    flex: 1;
    border: 2px solid rgb(247, 247, 247);
    margin-right: 20px;
    background-color: rgb(66, 92, 60);
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  .middlepane {
    width: 50%;
    height: 100%;
    flex: 1;
    border: 2px solid rgb(255, 255, 255);
    margin-right: 20px;
    background-color: rgb(104, 103, 103);
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  .rightpane {
    width: 25%;
    height: 100%;
    flex: 1;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    background-color: rgb(43, 46, 82);
    border-collapse: collapse;
    border-radius: 10px;
    text-align:left;
  }
  
  .toppane {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #e2e0e0;
    border-radius: 10px;
    text-align:center;
  }

  .joblist {
    list-style-type: none;
    padding: 10px; 
  }

  .job-div {
    padding: 10px;
  }

  .delete-button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:rgb(10, 139, 238);
    text-align:center;
    transition: all 0.2s;
  }
  .delete-button:hover{
    background-color:red;
  }

  .complete-button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:grey;
    text-align:center;
    transition: all 0.2s;
  }

  .complete-button:hover {
    background-color: green;
  }

  #new-job-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:grey;
    text-align:center;
    transition: all 0.2s;
  }

  #new-job-button:hover{
    color:#000000;
    background-color:#FFFFFF;
  }

  .input-text {
    width: 80%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .input-text:focus {
    border: 3px solid #555;
  }

  .submit {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:grey;
    text-align:center;
    transition: all 0.2s;
  }

  .submit:hover {
    background-color: green;
  }

/* header animation */
  .ml14 {
    font-weight: 300;
    font-size: 2.2em;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.25em;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }

  